/* ====================
 Header 
==================== */
header {
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

header .container {
    width: var(--max-width);
    justify-content: space-between;
}

header .site-logo {
    width: 25%;
    justify-content: flex-start;
}

header .site-logo img {
    width: 200px;
}

header .menu {
    width: 50%;
    justify-content: center;
}

header .menu ul {
    list-style: none;
    gap: 40px;
    padding: 14px 35px;
    border-radius: 50px;
    background: var(--secondary-color);
}

header .menu ul li a {
    font-size: 17px;
    font-weight: 300;
    justify-content: flex-start;
    overflow: hidden;
    height: 25px;
}

header ul li a span.menu-text {
    display: flex;
    flex-direction: column;
    height: 25px;
    transition: all 0.3s;
}

header ul li a span.menu-text:hover {
    transform: translateY(-25px);
}

header .header-btn {
    width: 25%;
    justify-content: flex-end;
}

@media (max-width: 1024px) {
    header .menu {
        display: none;
    }

    header .site-logo,
    header .header-btn {
        width: 50%;
    }
}

@media (max-width: 550px) {
    header {
        padding: 10px;
    }

    header .site-logo img {
        width: 130px;
    }
}

/* ====================
  End Header 
==================== */

/* ====================
  Hero
==================== */
.hero {
    width: 100%;
    padding: 80px 15px;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #14141469;
    background: #00000098;
    backdrop-filter: blur(5px);
    z-index: 0;
}

.hero img.hero-bg-img {
    width: 120%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.hero .container {
    width: var(--max-width);
}

.hero .hero-title {
    font-size: 12vw;
    line-height: 0.9;
    text-align: center;
    z-index: 0;
    width: 100%;
    color: transparent;
    background: linear-gradient(180deg, #FFFFFF 60%, #363636);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero img.character {
    position: absolute;
    bottom: -10px;
    height: 90%;
    object-fit: contain;
    z-index: 1;
    transition: transform 0.2s ease;
    will-change: transform;
}

.hero .hero-cards {
    width: var(--max-width);
    position: absolute;
    bottom: 50px;
    z-index: 10;
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.hero .hero-cards .card {
    padding: 30px;
    background: var(--card-bg);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    border: 1px solid var(--card-bg);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero .hero-cards .card h3 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #363636;
}

.hero .hero-cards .card p {
    font-weight: 300;
    font-size: 16px;
    text-shadow: 0 0 10px #363636;
}

.hero .hero-cards .card:last-child {
    justify-content: space-between;
    text-align: center;
}

.hero .hero-cards .card:last-child h3 {
    letter-spacing: 10px;
}

.hero .hero-cards .card img {
    width: 100%;
}

@media (max-height: 800px) {

    .hero {
        height: 120vh;
    }

}

@media (max-width: 1440px) {
    .hero .hero-cards {
        bottom: 15px;
    }

    .hero .hero-cards .card h3 {
        font-size: 26px;
    }
}

@media (max-width: 1024px) {
    .hero .hero-title {
        font-size: 18vw;
    }

    .hero .hero-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero .hero-cards .card:last-child {
        display: none;
    }

    .hero .hero-cards .card h3 {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .hero .hero-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero .hero-cards .card {
        padding: 20px;
    }

    .hero .hero-cards .card:nth-child(3) {
        display: none;
    }

    .hero .hero-cards .card h3 {
        font-size: 20px;
    }

    .hero img.character {
        width: 100%;
        object-position: bottom;
    }
}

@media (max-width: 550px) {
    .hero {
        height: 60vh;
    }

    .hero .hero-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .hero .hero-cards .card {
        padding: 15px;
        border-radius: 20px;
        gap: 5px;
    }

    .hero .hero-cards .card:nth-child(2) {
        display: none;
    }

    .hero .hero-cards .card h3 {
        font-size: 18px;
    }

    .hero .hero-cards .card p {
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .hero {
        height: 55vh;
    }
}

/* ====================
  End Hero
==================== */