/* ====================
 Header 
==================== */
header {
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

header .container {
    width: var(--max-width);
    justify-content: space-between;
}

header .site-logo {
    width: 25%;
    justify-content: flex-start;
}

header .site-logo img {
    width: 200px;
}

header .menu {
    width: 50%;
    justify-content: center;
}

header .menu ul {
    list-style: none;
    gap: 40px;
    padding: 14px 35px;
    border-radius: 50px;
    background: var(--secondary-color);
}

header .menu ul li a {
    font-size: 17px;
    font-weight: 300;
    justify-content: flex-start;
    overflow: hidden;
    height: 25px;
}

header ul li a span.menu-text {
    display: flex;
    flex-direction: column;
    height: 25px;
    transition: all 0.3s;
}

header ul li a span.menu-text:hover {
    transform: translateY(-25px);
}

header .header-btn {
    width: 25%;
    justify-content: flex-end;
}

@media (max-width: 1024px) {
    header .menu {
        display: none;
    }

    header .site-logo,
    header .header-btn {
        width: 50%;
    }
}

@media (max-width: 550px) {
    header {
        padding: 10px;
    }

    header .site-logo img {
        width: 130px;
    }
}

/* ====================
  End Header 
==================== */

/* ====================
  Hero
==================== */
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000098;
    backdrop-filter: blur(5px);
    z-index: 0;
}

.hero .swiper {
    width: 100%;
    height: 100%;
}

.hero .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 15px;
    width: var(--max-width);
}

.hero .myHeroSwiper {
    position: relative;
    width: 100%;
}

.hero .swiper-pagination {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: auto;
    height: fit-content;
}

.hero .swiper-pagination-bullet {
    background: white;
    opacity: 0.3;
}

.hero .swiper-pagination-bullet-active {
    background: var(--primary-color);
    opacity: 1;
    transform: scale(2);
}

.hero img.hero-bg-img {
    width: 120%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.hero .container {
    width: var(--max-width);
}

.char-name {
    position: fixed;
    pointer-events: none;
    padding: 6px 14px;
    background: var(--bg-color);
    color: #fff;
    border-radius: 20px;
    transform: translate(-50%, -120%);
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 9999;
}

.hero .hero-title {
    font-size: 12vw;
    line-height: 0.9;
    text-align: center;
    z-index: 0;
    width: 100%;
    color: transparent;
    background: linear-gradient(180deg, #FFFFFF 60%, #363636);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero img.character {
    position: absolute;
    bottom: -10px;
    height: 90%;
    object-fit: contain;
    z-index: 1;
    transition: transform 0.2s ease;
    will-change: transform;
}

.hero .hero-cards {
    width: var(--max-width);
    position: absolute;
    bottom: 50px;
    z-index: 10;
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.hero .hero-cards .card {
    padding: 30px;
    background: var(--card-bg);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    border: 1px solid var(--card-bg);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero .hero-cards .card h3 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #363636;
}

.hero .hero-cards .card p {
    font-weight: 300;
    font-size: 16px;
    text-shadow: 0 0 10px #363636;
}

.hero .hero-cards .card:last-child {
    justify-content: space-between;
    text-align: center;
}

.hero .hero-cards .card:last-child h3 {
    letter-spacing: 10px;
}

.hero .hero-cards .card img {
    width: 100%;
}

@media (max-height: 800px) {

    .hero {
        height: 120vh;
    }

}

@media (max-width: 1440px) {
    .hero .hero-cards {
        bottom: 15px;
    }

    .hero .hero-cards .card h3 {
        font-size: 26px;
    }
}

@media (max-width: 1024px) {
    .hero .hero-title {
        font-size: 18vw;
    }

    .hero .hero-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero .hero-cards .card:last-child {
        display: none;
    }

    .hero .hero-cards .card h3 {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .hero .hero-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero .hero-cards .card {
        padding: 20px;
    }

    .hero .hero-cards .card:nth-child(3) {
        display: none;
    }

    .hero .hero-cards .card h3 {
        font-size: 20px;
    }

    .hero img.character {
        width: 100%;
        object-position: bottom;
    }
}

@media (max-width: 550px) {
    .hero {
        height: 65vh;
    }

    .hero .swiper-pagination {
        gap: 5px;
        right: 5px;
    }

    .hero .swiper-pagination-bullet {
        transform: scale(0.8);
    }

    .hero .swiper-pagination-bullet-active {
        transform: scale(1);
    }

    .hero .hero-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .hero .hero-cards .card {
        padding: 15px;
        border-radius: 20px;
        gap: 5px;
    }

    .hero .hero-cards .card:nth-child(2) {
        display: none;
    }

    .hero .hero-cards .card h3 {
        font-size: 18px;
    }

    .hero .hero-cards .card p {
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .hero {
        height: 55vh;
    }
}

/* ====================
  End Hero
==================== */


/* ====================
  Youtube Videos
==================== */
.latest-videos {
    width: 100%;
    padding: 80px 15px;
}

.latest-videos .container {
    width: var(--max-width);
    gap: 40px;
}

.myVideoSwiper {
    width: 100%;
    padding: 20px 0;
}

.latest-videos .video-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.latest-videos .video-card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    aspect-ratio: 9/16;
}

.latest-videos .video-card iframe {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    will-change: transform;
    transform: translateZ(0);
}


@media (max-width: 1440px) {
    .latest-videos .video-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .latest-videos .video-card:last-child {
        display: none;
    }
}

@media (max-width: 768px) {
    .latest-videos {
        padding: 60px 15px;
    }

    .latest-videos .video-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 550px) {
    .latest-videos {
        padding: 40px 15px;
    }

    .latest-videos .container {
        gap: 20px;
    }

    .latest-videos .video-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .latest-videos .video-card {
        aspect-ratio: 1/1;
    }
}

/* ====================
  End Youtube Videos
==================== */


/* ====================
  Character Spotlight
==================== */
.character-spotlight {
    width: 100%;
    padding: 15px 30px;
}

.character-spotlight .section-spacing {
    padding: 80px 30px;
    border-radius: 50px;
    background: var(--card-bg);
    width: 100%;
}

.character-spotlight .container {
    width: var(--max-width);
    gap: 40px;
}

.character-spotlight .section-title-desc {
    gap: 10px;
}

.character-spotlight .cards-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.character-spotlight .character-card {
    width: 100%;
    background: var(--bg-color);
    border-radius: 30px;
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff1a;
    gap: 20px;
    transition: all 0.3s;
    position: relative;
}

.character-spotlight .character-card .char-img {
    height: 500px;
    width: 100%;
    background: url(../images/anime-character/bg-hero.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition: all 0.3s;
    overflow: hidden;
}

.character-card .char-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
}

.character-spotlight .character-card:hover img {
    transform: scale(1.1);
    filter: saturate(0.5) brightness(0.5);
}

.character-spotlight .character-card h3 {
    font-size: 34px;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s;
}

.character-spotlight .character-card:hover h3 {
    opacity: 1;
}

@media (max-width: 1440px) {
    .character-spotlight .character-card .char-img {
        height: 400px;
        object-position: bottom;
    }
}

@media (max-width: 1024px) {
    .character-spotlight .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .character-spotlight {
        padding: 10px 10px;
    }

    .character-spotlight .section-spacing {
        padding: 30px 20px;
        border-radius: 30px;
    }

    .character-spotlight .container {
        gap: 30px;
    }

    .character-spotlight .cards-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .character-spotlight .character-card .char-img {
        height: 350px;
    }

    .character-spotlight .character-card h3 {
        font-size: 22px;
        letter-spacing: 1px;
    }
}

/* ====================
  End Character Spotlight
==================== */


/* ====================
  About Us
==================== */
.about-section {
    width: 100%;
    padding: 80px 15px 15px;
}

.about-section .container {
    width: var(--max-width);
    align-items: flex-start;
}

.about-section .about-title,
.about-section .about-content {
    width: 50%;
}

.about-section .about-title h2 {
    font-size: 60px;
}

.about-section .about-content {
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

@media (max-width: 1024px) {
    .about-section .container {
        flex-wrap: wrap;
    }

    .about-section .about-title,
    .about-section .about-content {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .about-section .about-title h2 {
        font-size: 40px;
    }

}

@media (max-width: 550px) {
    .about-section {
        width: 100%;
        padding: 40px 15px 15px;
    }

    .about-section .about-title h2 {
        font-size: 30px;
        letter-spacing: 1px;
    }

    .about-section .about-content p {
        font-size: 16px;
    }

    .about-section .about-content .social-links {
        gap: 10px;
    }
}

/* ====================
  End About Us
==================== */

/* ====================
  Parallax Image
==================== */
.parallax-section {
    width: 100%;
    padding: 60px 15px 30px;
}

.parallax-section .container {
    width: var(--max-width);
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    background: #FFF;
    height: 750px;
}

.parallax-section .parallax-img {
    width: 100%;
    object-fit: cover;
    display: block;
    height: 1080px;
}

@media (max-width: 1440px) {
    .parallax-section {
        padding: 15px;
    }

    .parallax-section .container {
        height: 500px;
    }

    .parallax-section .parallax-img {
        height: 800px;
    }
}

@media (max-width: 550px) {

    .parallax-section .container {
        height: 350px;
        border-radius: 30px;
    }

    .parallax-section .parallax-img {
        height: 650px;
    }
}

/* ====================
  End Parallax Image
==================== */


/* ====================
  Featured Anime
==================== */
.featured-anime {
    padding: 60px 15px 80px;
    width: 100%;
}

.featured-anime .container {
    width: var(--max-width);
}

.anime-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    width: 100%;
    margin-top: 20px;
}

.anime-card h3 {
    margin-top: 15px;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
}

.anime-poster {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.anime-poster img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    transition: transform 0.4s ease;
    transform: scale(1.03);
}

.anime-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    transition: opacity 0.4s ease;
}

.anime-overlay p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #ccc;
}

.anime-card:hover img {
    transform: scale(1.2);
}

.anime-card:hover .anime-overlay {
    opacity: 1;
}

.anime-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.anime-buttons .cta {
    padding: 8px 10px;
    font-size: 13px;
}

.anime-buttons .cta-white {
    background: var(--accent-hover);
    color: var(--black-color);
    border: 1px solid var(--accent-hover);

    &:hover {
        background: var(--accent-color);
        color: var(--white-color);
        border: 1px solid var(--accent-color);
    }
}

@media (max-width: 550px) {
    .featured-anime {
        padding: 30px 20px;
    }

    .featured-anime .container {
        gap: 10px;
    }

    .anime-poster img {
        aspect-ratio: 1 / 1;
    }

    .anime-card h3 {
        font-size: 24px;
    }
}

/* ====================
  End Featured Anime
==================== */

/* ====================
  Footer
==================== */
footer {
    background: var(--card-bg);
    padding: 80px 15px 0;
}

footer .container {
    width: var(--max-width);
    gap: 40px;
}

footer .footer-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

footer .footer-col p {
    color: #ffffffc7;
}

footer .footer-bottom {
    border-top: 1px solid #ffffff23;
    width: 100%;
    padding: 20px 0;
    margin-top: 30px;
}

footer .footer-bottom p {
    font-size: 17px;
    color: #ffffffda;
}

footer .footer-col h3 {
    font-size: 60px;
    text-align: left;
}

footer .footer-col p {
    width: 80%;
}

footer .footer-links {
    align-items: flex-end;
}

footer .footer-col h4 {
    font-size: 40px;
}

footer .footer-col ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

footer .social-icons {
    gap: 10px;
}

@media (max-width: 768px) {
    footer .container {
        flex-wrap: wrap;
    }

    footer .footer-col {
        width: 100%;
    }

    footer .footer-col h3 {
        font-size: 40px;
    }

    footer .footer-col h4 {
        font-size: 30px;
    }

    footer .footer-links {
        align-items: flex-start;
    }
}

@media (max-width: 550px) {
    footer .footer-col h3 {
        font-size: 24px;
        letter-spacing: 1px;
    }

    footer .footer-col h4 {
        font-size: 22px;
        letter-spacing: 1px;
    }

    footer .footer-bottom {
        margin-top: 10px;
    }

    footer .footer-bottom p {
        font-size: 14px;
    }
    footer .footer-col ul a {
        font-size: 15px;
    }
}

/* ====================
  End Footer
==================== */