@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F89DA2;
    --secondary-color: #323232;
    --text-color: #FFFFFF;
    --accent-color: #323232;
    --accent-hover: #FFFFFF; 
    --bg-color: #141414;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --card-bg: #ffffff14;

    --max-width: 1600px;
    --text-font: 'DM Sans', sans-serif;
    --heading-font: 'Bebas Neue', sans-serif;
}

html {
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 18px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}

/* Cursor */
.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid var(--white-color);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.custom-cursor-circle {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--primary-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 100px;
    z-index: 9999;
    mix-blend-mode: difference;
}

/* Cursor End */

.cta {
    background: var(--accent-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    padding: 12px 20px 12px 20px;
    gap: 15px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    &:hover {
        color: var(--black-color);
    }
}

.cta::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    border-radius: 50px;
    height: 100%;
    transition: all 0.3s;
    background: var(--accent-hover);
    z-index: -1;
}

.cta:hover::before {
    width: 100%;
}

.cta span.rotate {
    transform: rotate(-45deg);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* header */
header {
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

header .container {
    width: var(--max-width);
}

header .site-logo {
    width: 25%;
    justify-content: flex-start;
}

header .site-logo img {
    width: 200px;
}

header .menu {
    width: 50%;
    justify-content: center;
}

header .menu ul {
    list-style: none;
    gap: 40px;
    padding: 14px 35px;
    border-radius: 50px;
    background: var(--secondary-color);
}

header .menu ul li a {
    font-size: 17px;
    font-weight: 300;
    justify-content: flex-start;
}

header .header-btn {
    width: 25%;
    justify-content: flex-end;
}

/* Under Construction */
.under-construction {
    width: 100%;
    padding: 80px 15px;
}
.under-construction .container {
    width: var(--max-width);
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: var(--primary-color);
    padding: 30px;
    border-radius: 50px;
}

.under-construction h2 {
    font-size: 50px;
    text-align: center;
}

.under-construction img {
    width: 300px;
}

/* globall */
@media(max-width:1600px) {
    :root {
       --max-width: 100%; 
    }
}
